@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-dark-blue-1;
  width: 90rem;
  height: 100%;
}

.container {
  margin: 5rem;
  width: 100%;
  height: 100%;
}

.nft_card {
  margin: 0 auto;
  background-color: $color-dark-blue-2;
  padding: 2rem;
  width: 50%;
  border-radius: 1rem;

  &__image {
    border-radius: 1rem;
    margin-bottom: 0.75rem;
  }
}

.heading_secondary {
  display: inline;
  color: $color-white;
  font-family: $main-font;
  font-weight: 600;
}

.main_paragraph {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: $color-primary;
  font-family: $main-font;
  font-size: 1.125rem;
  width: 37.75rem;
}

.nft_info {
  width: 37.75rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  &__price {
    display: flex;

    .nft_price {
      display: inline;
      padding-left: 0.5rem;
      color: $color-secondary;
      font-family: $main-font;
      font-weight: 600;
      font-size: 0.75rem;
    }
  }

  &__time {
    display: flex;

    .nft_time {
      padding-right: 0.5rem;
      color: $color-primary;
      font-family: $main-font;
      font-weight: 600;
    }
  }
}

span {
  width: 100%;
  border-bottom: 1px solid $color-white;
}

.nft_creator {
  display: flex;
  align-items: center;

  &__img {
    border: 2px solid $color-white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  &__created {
    color: $color-primary;
    font-family: $main-font;
    font-weight: 400;
    margin-left: 0.75rem;

    &--name:link,
    &--name:visited {
      text-decoration: none;
      color: $color-white;
      cursor: pointer;
    }

    &--name:hover,
    &--name:active {
      color: $color-secondary;
    }
  }
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  color: $color-primary;
}
.attribution a {
  color: $color-blue;
}
