// Base variables
$color-primary: hsl(215, 51%, 70%);
$color-secondary: hsl(178, 100%, 50%);
$color-dark-blue-1: hsl(217, 54%, 11%);
$color-dark-blue-2: hsl(216, 50%, 16%);
$color-dark-blue-3: hsl(215, 32%, 27%);
$color-white: hsl(0, 0%, 100%);
$color-blue: hsl(228, 45%, 44%);

// Font
$main-font: Outfit;

$color-overlay: hsla(178, 100%, 50%, 0.5);
